//Pour compiler
// sass --watch styles/sass/app.scss styles/style.css

@import "variables.scss";
@import "texts.scss";
@import "footer.scss";
@import "header.scss";
@import "ficheProduct.scss";
@import "ficheDesign.scss";
@import "designerFav.scss";
@import "ficheDesigner.scss";
@import "triCategories.scss";
@import "panier.scss";
@import "champsText.scss";
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $urbanist;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100vw;
}
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin: 50px;
}

a {
  color: black;
}

button {
  border: none;
  background: none;
  width: max-content;
  height: max-content;
}

.button {
  transition: all .3s ease-in-out;
}

.button:hover {
  background-color: $color-main2;
  transition: all .3s ease-in-out;
}