.ficheDesign {
  grid-column: span 3;
  width: 100%;
  height: auto;
  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: blue;
  }
  &__name {
    font-family: $urbanist;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &__nameDesigner {
    font-size: 20px;
    margin-bottom: 15px;

  }

  &__seeMore {
    width: 100%;
    height: 45px;
  }

  &__link {
    width: 100%;
    background-color: $color-main1;
    padding: 10px;
    height: 100%;
    border-radius: $borderRadiusSmall;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
