.heroSupport {
    &__image {
        background-color: blue;
        grid-column: span 4;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 30px;
    }
    &__content {
        grid-column: span 6;
    }
}