.productsSelected {
    grid-column: span 12;

    &__list {
        display: grid;
        grid-column: span 12;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        width: 100%;

        .ficheProduct:nth-child(1) {
            grid-column: 3/span 2;
        }

    }
}