@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');
$urbanist: 'Urbanist', sans-serif;

h1{
    grid-column: span 12;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.titre{
    font-weight: bold;
    font-size: 38px;
}

header{
    .menubutton{
        font-weight: bold;
        font-size: 30px;
        color: $black;

    }
}

footer{
    p{
        color: $black;
        font-size: 17px;
    }
}

